#sct_lgn {
    height: calc(100vh - 126px);
    background-color: #ADBC78;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sct_lgn h2 {
    font-size: 3.8rem;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

#sct_lgn form {
    width: 400px;
    height: 350px;
    border: 2px solid rgba(21, 21, 21, 0.4);
    background: #f4f4f4;
    padding: 25px;
    box-shadow: 2px 2px 15px rgba(21, 21, 21, 0.4);
    border-radius: 7px;
    margin: 12.5px;
}

#sct_lgn form label {
    font-size: 1.8rem;
    font-weight: 600;
}

#sct_lgn form input {
    padding: 5px;
    font-size: 1.6rem;
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(21, 21, 21, 0.4);
    background-color: #e4e4e4;
    box-shadow: 1px 1px 7px rgba(21, 21, 21, 0.4);
    outline: none;
}

#sct_lgn form input[type="submit"]{
    cursor: pointer;
    display: block;
    margin: 30px auto 0px;
    font-size: 1.8rem;
    padding: 5px 50px;
    width: auto;
    background: #5E7355;
    border: none;
    color: #f4f4f4;
    font-style: italic;
}