#sct1pcpl {
    position: relative; 
    text-align: center;
}

#sct1pcpl img {
    width: 100%;
}

#titulo1 {
    font-size: 5.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 10px #EFDFD5;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 25%;
    left: 50%;
    width: 100%;
    transition: all .6s ease;
}

#sct2pcpl {
    background: #ADBC78;
    padding: 45px 12.5px;
}

.titulo2 {
    font-size: 3.8rem;
    margin-bottom: 35px;
    font-weight: 600;
    text-align: center;
}

.prod_pcpl {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.prod_pcpl div {
    background-color: #5E7355;
    width: 230px;
    height: 330px;
    margin: 10px 7.5px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px #333;
    transition: all .5s ease-in-out;
}

.prod_pcpl div:hover {
    transform: scale(1.25);
    margin: 0px 15px;
    z-index: 4;
}

#sct3pcpl {
    background: #EFDFD5;
    padding: 45px 12.5px;
}

.sobre_pcpl {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.sobre_pcpl div {
    margin: 10px 7.5px;
    width: 50%;
}

.sobre_pcpl p {
    font-size: 1.8rem;
    line-height: 1.6;
}

.sobre_pcpl img {
    border-radius: 10px;
    box-shadow: 1px 1px 10px #333;
}

@media screen and (max-width: 800px) {
    #titulo1 {
        font-size: 4.5rem;
        top: 20%;
        padding: 0px 10px;
    }

    .titulo2 {
        font-size: 3rem;
    }

    .prod_pcpl {
        flex-flow: column nowrap;
        align-items: center;
    }

    .sobre_pcpl {
        flex-flow: column-reverse nowrap;    
    }
        
    .sobre_pcpl div {
        text-align: center;
        width: 75vw;
    }
}
