footer {
    background-color: #5E7355;
    padding: 5px 25px 10px 25px;
    box-shadow: 0px 1px 10px #333;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer2 {
    display: flex;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 7.5px;
}

#copyright {
    font-size: 1rem;
    color: #fafafa;
    text-align: center;
}

#desenvolvido {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fafafa; 
    text-align: center; 
}


