#sct_rgt {
    background-color: #ADBC78;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sct_rgt h2 {
    font-size: 3.8rem;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
}

#sct_rgt form {
    width: 500px;
    border: 2px solid rgba(21, 21, 21, 0.4);
    background: #f4f4f4;
    padding: 25px;
    box-shadow: 2px 2px 15px rgba(21, 21, 21, 0.4);
    border-radius: 7px;
    margin: 50px 10px;
}

#sct_rgt form label {
    font-size: 1.8rem;
    font-weight: 600;
    margin: auto 20px auto 0px;
}

#sct_rgt form input {
    padding: 5px;
    font-size: 1.6rem;
    margin: 15px 0px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(21, 21, 21, 0.4);
    background-color: #e4e4e4;
    box-shadow: 1px 1px 7px rgba(21, 21, 21, 0.4);
    outline: none;
}

#sct_rgt form input:not(:focus) {
    font-style:italic;
}


.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.grid1 label {
    margin: auto 0px; 
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
}

.grid2 button {
    margin: auto 0px auto auto;
    padding: 5px 25px;
    border-radius: 5px;
    border: 1px solid rgba(21, 21, 21, 0.4);
    background-color: #e4e4e4;
    box-shadow: 1px 1px 7px rgba(21, 21, 21, 0.4);
    outline: none;
}

.grid2 a {
    padding: auto 5px;
    font-size: 1.6rem;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 10px;
}

#sct_rgt h4 {
    font-size: 2.2rem;
    margin: 10px 0px 15px;
    font-weight: 600;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

#sct_rgt form input[type="submit"]{
    cursor: pointer;
    display: block;
    margin: 30px auto 0px;
    font-size: 1.8rem;
    padding: 5px 50px;
    width: auto;
    background: #5E7355;
    border: none;
    color: #f4f4f4;
    font-style: italic;
}