.prod {
    background-color: #5E7355;
    width: 250px;
    height: 375px;
    margin: 15px 15px;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 2px 2px 5px #333;
    transition: all .5s ease-in-out;   
}

.prod:hover {
    transform: scale(1.25);
    margin: 0px 15px;
    z-index: 4;
}

.prod_solo {
    height: 60%;
    margin: 5px auto;
    width: auto;
    top: 0px;
}

.prod_solo img {
    max-height: 150px;
    margin: 0px auto;
    border-radius: 3px;
}

.prod_solo figcaption {
    font-size: 2.6rem;
    color: #fafafa;
    padding-top: 7.5px;
}

.prod p {
    font-size: 1.4rem;
    color: #fafafa;
    margin: 2px 0px;

}

.prod h5 {
    font-size: 1.8rem;
    color: #fafafa;
    margin: 5px 0px;
}

.prod button {
    margin: 5px auto;
    font-size: 1.6rem;
    background-color: #333;
    color: #fafafa;
    border-radius: 10px;
    border: 0px;
    padding: 5px 20px;
    outline: none;
    cursor: pointer;
    display: block;
    bottom: 0px;
    transition: all .4s linear;
    border: 1px solid #EFDFD5;
    font-weight: 500;
}

.prod button:hover {
    background-color: #EFDFD5;
    color: #333;
    border: 1px solid #333;
}